
body{
    /* background-color: #29233b; */
  background-color:rgb(0, 39, 65);

}
h4{
    color: #00e8f4;
}
#gif-area{
    align-content: flex-start;
}
.container{
    /* background-color: #08011b; */
  background-color: rgb(0, 32, 53);

    align-content: center;    
}
.orange{
    color: rgb(218, 143, 45)
  }
  .orange:hover{
    color:#00e8f4;
    text-decoration: none;
  }
.topics{
    background-color: #00e8f4;
    color: #d16117;
    font-size: 150%;
    font-weight: bold;
    outline: 0;
    border: none

}
.topics:hover{
    background-color: #d16117;
    color: #00e8f4;
    outline: 0;
    border: none
}
.topics:focus{
    background-color: #d16117;
    color: #00e8f4;
    outline: 0;
    border: none
}

#submit{
    background-color: #d16117;
    color: #00e8f4;
    border: none;
}
.img-thumbnail{
    color: #d16117
}
p{
    color: rgb(26, 89, 131)
}

@media only screen and (max-width: 1000px) {
.topics{
    font-size: 75%;
    padding: .25rem;

}
#user-input{
    width: 50%
}
}
@media only screen and (max-width: 800px) {
.instructions{
    display: none;
}
.gif{
    width: 70px;
    border:none
}
}